django
djangorestframework
django-jazzmin
drf-spectacular
Pillow
django-filter
requests
decouple
python-dotenv
psycopg2-binary
whitenoise
gunicorn
django-cors-headers
djangorestframework-simplejwt
django-cleanup
django-environ
django-ckeditor
django-ckeditor-5
django-import-export
#django-import-export-templates
django-import-export-celery
#django-import-export-celery-progress
#django-import-export-celery-progress-templates
#django-import-export-celery-progress-templates-bootstrap
#django-import-export-celery-progress-templates-bootstrap4
#django-import-export-celery-progress-templates-bootstrap5
#django-import-export-celery-progress-templates-bootstrap6
#django-import-export-celery-progress-templates-bootstrap7
#django-import-export-celery-progress-templates-bootstrap8
#django-import-export-celery-progress-templates-bootstrap9
#django-import-export-celery-progress-templates-bootstrap10
#django-import-export-celery-progress-templates-bootstrap11
#django-import-export-celery-progress-templates-bootstrap12
#django-import-export-celery-progress-templates-bootstrap13
